.pagination {
    flex-wrap: wrap;

    &-item {
        margin: 4px;

        &.active {
            .pagination-link {
                color: #A61B28;
                border-bottom: 1px solid #A61B28;
            }
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;

        &:hover {
            color: #A61B28;
        }

        img {
            height: 20px;
            width: auto;
        }
    }

}

.breadcrumb {
    &-container {
        margin-bottom: 2px;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        white-space: nowrap;

    }

    &-item {
        color: #333;

        .breadcrumb-link {
            margin-right: 12px;
            font-weight: 300;
        }

        &:first-child {
            .breadcrumb-link {
                margin-left: -10px;
                margin-right: 8px;
            }
        }

        &:last-child {
            color: #5f3b23;

            .breadcrumb-link::before {
                content: none;
            }
        }
    }

    &-link {
        position: relative;
        display: inline-block;
        padding: 15px 10px 10px;

        &::before {
            content: "|";
            position: absolute;
            right: -5px;
            color: #A8A8A8;
        }
    }
}


.ads-right {
    img {
        width: 100%;
    }
}

/*======================================================================== serach */
.search-primary {
    &__top {
        &-form {
            .form-group {
                border: 1px solid #bdbdbd;
                border-radius: 999px;
                padding: 11px 30px;
            }
            
            .search-btn {
                padding: 2px;
                margin-left: 4px;
            }
        }
    }
}
/*======================================================================== video */
.icon-play-large {
    img {
        width: 54px;
        height: auto;
    }
}
.cate-video-primary {
    &__left {
        .article {
            position: relative;
        }
        .article-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px 40px;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 66%, rgba(0, 0, 0, 0.5) 100%);
            justify-content: flex-end;
        }
    }
}

.cate-video-primary-mb {
    background-image: url('../images/bg-1.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

/*======================================================================== danh sach tac gia */
.flag-primary {
    position: absolute;
    top: 10px;
    left: 10px;
}
.tab-list {
    .tab-item {
        &.active {
            color: #EC0033;
        }
    }
}
.author-list-primary {
    &__left {
        .articles {
            gap: 8px 20px;
            grid-gap: 8px 20px;
        }
        .article-content {
            &__bot {
                .article {
                }
                .article-txt {
                    margin-right: 16px;
                    padding-right: 16px;
                    border-right: 1px solid #bdbdbd;

                    &:last-child {
                        margin-right: 0;
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
        }
    }
}
/*======================================================================== giai dau */
.item-cate-primary {
    &.active {
        color: #EC0033;
    }
}
.table-primary {
    &__row {
        border-bottom: 1px dashed #ededed;
        &:first-child {
            background-color: #FFF5F5;
            border-bottom-color: transparent;
            .table-primary__column {
                &--one {
                    color: #EC0033;
                }
                &--four {
                    color: #0453D2;
                    font-weight: 500;
                }
            }
        }
        &:nth-child(2) {
            .table-primary__column {
                &--one {
                    color: #0453D2;
                }
                &--four {
                    color: #0453D2;
                    font-weight: 500;
                }
            }
        }
        &:nth-child(3) {
            .table-primary__column {
                &--four {
                    font-weight: 500;
                }
            }
        }
        &:hover {
            background-color: #FFF5F5;
            border-bottom-color: transparent;
        }
    }
}
.table-secondary {
    &__row {
        border-bottom: 1px dashed #ededed;
        &:first-child {
            background-color: #FFF5F5;
            border-bottom-color: transparent;
            .table-secondary__column {
                &--one {
                    color: #EC0033;
                }
                &--five {
                    color: #0453D2;
                    font-weight: 500;
                }
            }
        }
        &:nth-child(2) {
            .table-secondary__column {
                &--one {
                    color: #0453D2;
                }
                &--five {
                    color: #0453D2;
                    font-weight: 500;
                }
            }
        }
        &:nth-child(3) {
            .table-secondary__column {
                &--four {
                    font-weight: 500;
                }
            }
        }
        &:hover {
            background-color: #FFF5F5;
            border-bottom-color: transparent;
        }
    }
}

.detail-match-primary {
    &__bg {
        position: absolute;
        inset: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}