
.pane-item {
    display: none;
    
    &.active {
        display: block;
    }
}


.detail-primary {
    
}
.detail-primary-ema {
    .detail-title,
    .detail-action,
    .detail-sapo,
    #explus-editor > h1,
    #explus-editor > h2,
    #explus-editor > h3,
    #explus-editor > h4,
    #explus-editor > h5,
    #explus-editor > h6,
    #explus-editor > ul,
    #explus-editor > table,
    #explus-editor > blockquote,
    #explus-editor > p,
    .detail-box-second {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
    }
}

// share list
.share-detail {
    &__container {
      position: sticky;
      top: 40%;
    }

    .change-size {
        padding: 6px;
        border-radius: 999px;
        border: 1px solid #d9d9d9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .size-plus,
        .size-default {
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            img {
                width: 24px;
                height: auto;
            }
        }
    }
    &__list {
      
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: 1px solid #d9d9d9;
        border-radius: 999px;
        margin-top: 10px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 24px;
            height: auto;
        }
        
    }
    &__link {
      
    }
    
    
}

// detail action
.detail-action {
    font-family: "Roboto", sans-serif !important;
   &__left {

   }
   p {
    font-family: "Roboto", sans-serif !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
   }
}


.detail-title {
    font-size: 32px;
    font-weight: 600;
}
.detail-sapo {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    p {
        line-height: 150%;
        font-weight: 500 !important;
    }
}

.detail-author {
    background-color: #f6f6f6;
    border-radius: 12px;
    padding: 16px;
    &__top {
        .article {
            &-img {
                &__link {
                    img {
                        width: 39px;
                        height: 39px;
                        border-radius: 999px;
                    }
                }
            }
        }
    }
}

.detail-author-secondary {
    .article {
        &-img {
            &__link {
                img {
                    width: 39px;
                    height: 39px;
                    border-radius: 999px;
                }
            }
        }
    }
}

.detail-content {
    & figure {
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            height: auto !important;
            margin: auto;
            border-radius: 15px;
        }

        &.col-2 {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;

            & figcaption {
                display: block;
                width: 100%;
                grid-column: 1 / 3;
            }
        }
        &.col-3 {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 10px;

            & figcaption {
                display: block;
                width: 100%;
                grid-column: 1 / 4;
            }
        }
        &.col-4 {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 10px;

            & figcaption {
                display: block;
                width: 100%;
                grid-column: 1 / 5;
            }
        }
    }
    & figure figcaption {
        background: #fff;
        padding: 10px 0;
        font-size: 12px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.25rem;
        color: #5f5f5f;
        font-weight: 300;
        text-align: left;
        // font-style: italic;
    }
    & figure figcaption em {
        font-style: italic;
    }
    & figure h2,
    figure h3,
    figure h4,
    figure h5,
    figure h6,
    figure p {
        font-weight: normal !important;
        font-size: 14px !important;
        margin: 0 auto;
        line-height: 1.3 !important;
        color: #000;
        text-align: center;
        font-weight: 300;
        font-family: "Inter", sans-serif;
    }

    & p a {
        color: #EC0033;
        font-style: italic;
        text-decoration: underline;
        
        &:hover {
            text-decoration: underline;
        }
    }
    & p,
    & li {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 160%;
        word-break: break-word;
        color: #000;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        

    }
    & ul {
        padding-left: 30px;
    }
    & ul li {
        list-style: disc;
    }
    &  h2,
    &  h3,
    &  h4,
    &  h5,
    &  h6 {
        font-weight: 600;
        margin-bottom: 15px;
        font-family: "Inter", sans-serif;
        color: #000;
    }
    &  h2 {
        font-size: 24px;
    }
    &  h3 {
        font-size: 22px;
    }
    &  h4 {
        font-size: 20px;
    }
    &  h5 {
        font-size: 18px;
    }
    &  h6 {
        font-size: 16px;
    }

    & blockquote {
        background: #f5f5f5;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        z-index: 5;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        color: #000;

        & p {
            color: #000;
            font-size: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2,h3,h4,h5,h6 {
            color: #000;
        }

        a {
            color: #EC0033;
        }
    }

    table {
        width: 100%;
        margin: 20px 0;
        background: #fff;
        overflow: hidden;
        // border: 1px solid;
        tr {
            border-bottom: 1px solid;
        }
        th {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            strong {
                color: #EC0033;
            }
        }
        td {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            text-align: center;
            strong {
                color: #EC0033;
            }
        }
    }

}

.detail-tags {
    .tags-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .tag-link {
        display: inline-block;
        padding: 8px 16px;
        background-color: #D9E9FF;
        font-size: 14px;
        color: #000;
        border-radius: 999px;
        overflow: hidden;
        margin: 4px;
    }

    &--56 {
        .tag-link {
            background-color: #565656;
            color: #fff;
        }
    }
    &--006 {
        .tag-link {
            background-color: #0062FF;
            color: #fff;
        }
    }
}

// print
.print-box {
    .detail-content {
        padding-left: 0;

        p {
            text-align: justify;
            word-break: break-word;
        }
    }
    .print-btn {
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: #9b9b9b;

        &:hover {
            background-color: #555;
        }
    }
}
.logo-print {
    img {
        width: 230px;
        height: auto;
    }
}

@media print {
    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin-left: 20mm;
        visibility: hidden;
    }
    .print-box__container {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        width: calc(100% - 20mm);
        max-width: 100%;
        page-break-inside: avoid;
        overflow: visible;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .print-btn {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .detail-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .detail-content, .expNoEdit, .expEdit {
        page-break-inside: avoid;
    }
    h1, h2, p, figure {
        page-break-inside: avoid;
    }

}
