.heading-primary {}

.block-primary {
    display: flex;
    &__left {
        flex: 1;
        padding-right: 40px;
        max-width: calc(100% - 408px);
        width: 100%;
    }
    &__right {
        flex-shrink: 0;
        max-width: 408px;
        width: 100%;
    }
}
.see-more-primary {
  &__link {
    border-bottom: 1px solid transparent;

    .icon {
      margin-top: -4px;
    }

    &:hover {
      border-bottom-color: #EC0033;

      .icon {
        transform: translateX(5px);
        transition: ease 0.2s;
      }
    }
  }

}

.see-more-tertiary {
    &__link {
        color: #fff;
        padding: 11px 86px;
        background-color: #0453D2;
        border: 1px solid #0453D2;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;

        &--border {
          background-color: #fff;
          border: 1px solid #0453D2;
          color: #0453D2;
        }
    }
}

.play-medium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.2s;
     img {
        width: 28px;
        height: auto;
        position: relative;
        object-fit: contain;
     }

     &:hover {
        transform: translate(-50%,-50%) scale(1.1);
     }
}
.arrow-slide-primary {

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    margin-top: 0;
    background: #F2F2F2;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color: #212121;
    transform: translateY(-50%);
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: #EC0033;
    border-color: #EC0033;
    color: #fff;

  }
  .swiper-button-next {
    right: 14%;
    top: 34%;
  }
  .swiper-button-prev {
    left: 14%;
    top: 34%;
  }
  .swiper-button-next:after {
    content: '\279C';
  }
  .swiper-button-prev:after {
    content: '\279C';
    transform: rotate(180deg);
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    pointer-events: none;
    background: transparent;
    opacity: 0;
  }


}
.arrow-slide-secondary {

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    margin-top: 0;
    background: #F2F2F2;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color: #212121;
    transform: translateY(-50%);
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: -60px;
        left: auto;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: -60px;
        right: auto;
    }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: #EC0033;
    border-color: #EC0033;
    color: #fff;

  }
  .swiper-button-next:after {
    content: '\279C';
  }
  .swiper-button-prev:after {
    content: '\279C';
    transform: rotate(180deg);
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    pointer-events: none;
    background: transparent;
    opacity: 0;
  }


}

.ads-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.same-height {
  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .article-img {
    flex-shrink: 0;
  }

  .article-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hidden.active {
  display: block;
}

.hidden {
  display: none;
}

.pagi-red {
    .swiper-pagination-bullet {
        background: #d9d9d9;
    }
  .swiper-pagination-bullet-active {
    background: #EC0033;
    width: 10px;
    height: 10px;
  }
  
}

.block-right-one {
    .box-one {
        &__content {
            .article {
                padding: 12px 0;
                border-bottom: 1px dashed #dbdbdb;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
            .article-name {
                p + p {
                    margin-top: 4px;
                }
            }
        }
    }
}
.block-right-two {}
.block-right-three {}

.block-one {
    .article-list {
        .article {
            border-bottom: 1px dashed #c1c1c1;
            &:first-child {
                background-color: #FFF5F5;
                .article-content__bot {
                    .article-point {
                        color: #0453D2;
                        font-weight: 500;
                    }
                }
                .article-content__right {
                    .content-right__text {
                        color: #EC0033;
                        font-weight: 500;
                    }

                }
            }
            &:nth-child(2) {
                .article-content__bot {
                    .article-point {
                        color: #0453D2;
                        font-weight: 500;
                    }
                }
                .article-content__right {
                    .content-right__text {
                        color: #0453D2;
                        font-weight: 500;
                    }

                }
            }
            &:nth-child(3) {
                .article-content__right {
                    .content-right__text {
                        color: #151515;
                        font-weight: 500;
                    }

                }
            }
            &:hover {
                background-color: #FFF5F5;
            }
        }
    }

    .tab-select {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        background-color: #fff;
    }
}
.block-two {}

.block-three {
    &-item {
        &__list {
            .article {
                border-bottom: 1px dashed #dbdbdb;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

.block-four {

}

.block-five {
    &__list {
        .article {
            border: 1px solid #bdbdbd;
            padding: 12px;
            margin: 0;
            border-radius: 12px;
            overflow: hidden;
        }
    }
}

.block-six {

}

.block-seven {}

.block-eight {
  .article-list {
    .article-bot {
      .article-item {
          padding-left: 10px;
          padding-right: 10px;
          border-right: 1px solid #bdbdbd;

          &:last-child {
              border-right: none;
          }
          p + p {
              margin-top: 6px;
          } 
      }
    }
  }
}


.topic-hot-primary {
    &__icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.section-primary {}

.section-secondary {}

.section-tertiary {}

.section-quaternary {}

.section-quinary {}

.section-senary {}

.section-septenary {}

.section-octonary {

    &__content {
         .article-content {
            background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 66%, rgba(0,0,0,0.5) 100%);
            justify-content: flex-end;
        }
    }
}

.section-nonary {}

.section-decenary {
    
}
.section-eleventh {}
.section-twelfth {}
.section-thirteenth {}
.section-fourteenth {}